<%= render "layouts/header" %>

<div class="row">
  <div class="col-xs-12  col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
    <%= form_for(@place) do |f| %>

      	<div class="well well-sm">

          <% if signed_in? %>
            <p><%= image_tag "newplace.jpg", class: "img-responsive img-rounded" %>                           </p>
            <p><h3>New place</h3></p>

            <p>      <%= render 'layouts/errors_place_registration' %>     </p>

            <p><%= f.text_field :place,      class: "form-control", placeholder: "Place"%>                    </p>   
            <p><%= f.text_field :adress,     class: "form-control", placeholder: "Adress"%>                   </p>
            <p><%= f.text_field :lat,        class: "form-control", placeholder: "Latitude"%>                 </p>  
            <p><%= f.text_field :lon,        class: "form-control", placeholder: "Longtitude"%>               </p>   
            <p><%= f.text_area  :description,class: "form-control", placeholder: "Description"%>              </p>    

            <p><%= f.submit "Add place", class: "btn btn-large btn-primary" %>                                </p>
          <% else %>
            <h3>Error adding new place:</h3>
            You not registred yet! <%= link_to "Register now!", signup_path %>
          <% end %>
		    </div>
    <% end %>
  </div>
</div>