<% provide(:title, @place.place) %>
<%= render "layouts/header" %>

<div class="row">  
	<div class="col-xs-12  col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
	    <div class="well well-sm">
			<p><h3><%= @place.place %></h3></p>
       		<p><%= image_tag Instagram.media_search(@place.latitude, @place.longitude).first.images.standard_resolution.url , class: "img-thumbnail img-responsive" %></p>

       		<p>
	       		<div class="panel panel-default">
	  				 <ul class="list-group">
					    <li class="list-group-item">Description: <%= @place.description %></li>
					    <li class="list-group-item">GPS coordinates: <%= @place.latitude %>, <%= @place.longitude %></li>
					    <li class="list-group-item">Address: <%= @place.address %></li>
					    <li class="list-group-item">Added <%= time_ago_in_words(@place.created_at) %> ago.</li>
  					</ul>
				</div>
			</p>

			<p>
				<%= button_to "Leave comment", newcomment_path, :method => :get, class: "btn btn-primary" %>
			</p>
		</div>
  	</div>
</div>

<div class="row">  
	<div class="col-xs-12  col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
    	<% if @comments != nil %>
	    	<% @comments.each do |com| %>
	    		<% if 1 <= com.score and com.score < 3 %>
	    			<div class="panel panel-danger">
	    		<% elsif 3 <= com.score and com.score < 6 %>
	    			<div class="panel panel-warning" %>
	    		<% else %>
	    			<div class="panel panel-success" %>
	    		<% end %>
	    		
  					<div class="panel-heading">
    					<h3 class="panel-title"><%= com.user %></h3>
  					</div>
  					<div class="panel-body">
              <p>Grade: <%= com.score %></p>
              <ul class="list-group">
                <li class="list-group-item">Comment: <%= com.comment %></li>
              </ul>
  					</div>
  				</div>
	        <% end %>
	    <% end %>
</div>