<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">BC</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <form class="navbar-form navbar-right" role="search">
            <div class="input-group" >  
              <span class="input-group-addon" id="sizing-addon1">
                  <span class="glyphicon glyphicon-search" aria-hidden="true"> </span>
              </span>   
              <input type="text" class="form-control" placeholder="Search">   
            </div>
      </form>
      
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">   <% if signed_in? %>
                <%= current_user.name%>
             <% else %>
                My account
            <% end %>

            <span class="caret"></span></a>
          <ul class="dropdown-menu">
<% if signed_in? %>
                  <li><%= link_to "View", current_user %> </li>
                  <li><%= link_to "Edit", current_user %> </li>
<% else %>
                  <li><%= link_to "Sign Up", signin_path %> </li>
<% end %>
            </li>
            <li role="separator" class="divider"></li>

            <% if signed_in? %>
                  <li><%= link_to "Sign Out", signout_path, method: "delete" %> </li>
            <% else %>
                  <li><%= link_to "Sign In", signin_path %> </li>
            <% end %>

          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



<div class="row">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
  </div>
</div>